/*currently not working*/


.container {
  text-align: center;
  justify-content: center;
}

.provenanceSuccess {
    border: 3px !important;
    border-color: black !important;
  }



  .imageWrapper{
    position: relative;
    height: 300px;
     
  }