.itemTable {
    border-collapse: collapse;
    border: 1px solid black;
    margin: 0 auto;
    margin-bottom: 40px;
    
}

.tokenTable {
    border-collapse: collapse;
    border: 1px solid black;
    margin: 0 auto;
    margin-bottom: 40px;

}

.container {
    text-align: center;
}

.containerBorder  {
    border: 3px solid red; 
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;

}