/* New Provenance  */

.NewProvenance {
  display: block;
  text-align: center;
}

.NewProvenance fieldset {
  margin: 20px 0;
  text-align: center;
}

/* Text */

.bodyText {
  text-align: left;
}

.previewContainer {
  display: flex;
  min-height: 200px;
  width: 80%;
  margin: 0 auto;
}

.buttonContainer {
  text-align: center;
  --bs-gutter-x: 0rem;
}

/* Buttons */

.resetButton {
  font-size: 10px;
  margin-bottom: 20px;
}

.submitButton {
  font-weight: bold;
  border-radius: 25px;
  font-size: 40px;
  padding: 10px 30px;
  margin-bottom: 30px;
  transition: background-color 0.5s ease-out 100ms;
}

.submitButton:hover {
  background-color: red;
}

.previewPhoto {
  flex: 1;
  max-width: 50%;
}

.image {
  width: 80%;
  height: 80%;
  object-fit: cover;
}

/* Success Message */

.mintSuccess {
  position: absolute;
  width: 100vw;
  top: 40%;
  left: 50%;
  font-size: 700%;
  color: green;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  animation: mint-success 1s 1;
  -webkit-animation: mint-success 0.5s 1;
  animation-fill-mode: forwards;

  animation-delay: 3s;
  -webkit-animation-delay: 4s; /* Safari and Chrome 
  -webkit-animation-fill-mode: forwards;   */
}

@keyframes mint-success {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes mint-success {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
