.NavEdits {
  align-items: center;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
}

.titleAndLogo {
  float: left;
  font-size: 1.25rem;
  white-space: nowrap;

  display: flex;
  justify-content: center;
  align-items: center;
}

.brandText {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 10px;
}

.incoming {
  color: red;
}

#incoming {
  color: red;
}
