.homeContainer {
  height: 70vh;
  padding-top: 15px;
  background-color: lightgray;
  width: 100%;
  /* border: 2px solid #1976d2;
  border-radius: 25px; */

  /* to center the internal div for later use */

  /* display: flex;
    align-items: center; */
}

.pageContainer {
  padding: 30px;
}

.internalHomeContainer {
  margin-top: 5%;
}

.introButton {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 20px;
  font-weight: bold;
  border-width: 5px;
  border-radius: 25px;
  margin-top: 40px;
}

.registerButton {
  display: inline-block;
  margin-top: 20px;
  padding: 0.46em 1.6em;
  box-sizing: border-box;
  color: #ffffff;
  border-radius: 25px;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  background-color: green;
  text-align: center;
  transition: all 0.15s;
  box-shadow: 10px 5px 20px rgb(162, 161, 161);

  font-weight: bolder;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 300%;
}

.flexContainerCentered {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.registerButton:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #ffffff;
  border-color: #ffffff;
  font-weight: bolder;
  border-radius: 25px;
}

.graphicContainer {
  position: relative;
  height: 200px;
}

.topButton {
  margin-bottom: 10px;
}
