

  .homeContainer {
    height: 70vh;

    margin-top: 30px;
    padding-top: 15px;
    border: 2px solid lightblue;
    border-radius: 25px;

    /* to center the internal div for later use */

    /* display: flex;
    align-items: center; */
    
  
  }

  .internalHomeContainer {
    margin-top: 5%;

  }

  .fadeInText:hover {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150px;
    color: black;
    animation: fadeIn linear 7s;
    -webkit-animation: fadeIn linear 7s;
    -moz-animation: fadeIn linear 7s;
    -o-animation: fadeIn linear 7s;
    -ms-animation: fadeIn linear 7s;
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  .pageContainer{
    margin-top: 30px;
    padding-top: 15px;
    border: 2px solid lightblue;
    border-radius: 25px;
  }

  .introButton {
    font-family: 'Courier New', Courier, monospace;
    border-color: aquamarine;
    font-size: 35px;
    border-radius: 25px;
    margin-top: 40px;
  }

  .registerButton {
    font-family: 'Courier New', Courier, monospace;
    border-color: aquamarine;
    background-color: red;
    color: white;
    font-size: 400%;
    font-weight: bold;
    border-radius: 25px;
  }

  .pageContainer:hover {
    background-color: azure;
  }

  .graphicContainer {
    position: relative;
    height: 200px;
  }

  /* Arrows */

  #arrowAnim {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .arrow {
    width: 5vw;
    height: 5vw;
    border: 2.5vw solid;
    border-color: black transparent transparent black;
    transform: rotate(-45deg);
  }
  
  
  .arrowSliding {
    position: absolute;
    -webkit-animation: slide 4s linear infinite; 
            animation: slide 4s linear infinite;
  }
  
  .delay1 {
    -webkit-animation-delay: 1s; 
      animation-delay: 1s;
  }
  .delay2 {
    -webkit-animation-delay: 2s; 
      animation-delay: 2s;
  }
  .delay3 {
    -webkit-animation-delay: 3s; 
      animation-delay: 3s;
  }
  
  @-webkit-keyframes slide {
      0% { opacity:0; transform: translateX(15vw); }  
     20% { opacity:1; transform: translateX(9vw); } 
     80% { opacity:1; transform: translateX(-9vw); }  
    100% { opacity:0; transform: translateX(-15vw); } 
  }
  @keyframes slide {
      0% { opacity:0; transform: translateX(15vw); }  
     20% { opacity:1; transform: translateX(9vw); } 
     80% { opacity:1; transform: translateX(-9vw); }  
    100% { opacity:0; transform: translateX(-15vw); } 
  }
