.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.modal-backdrop {
  z-index: 0;
}

h1 h2 h3 h4 p {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
