.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  text-align: center;
}

.modal-backdrop {
  z-index: 0;
}

